.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    justify-items: center;
    align-items: center;
}

.frontPageContainer {
    display: grid;
    grid-template-rows: 25px 0.3fr 1fr auto;

    height: 90%;
}