html, body {
    height: 100%;
    margin: 0;
}

.page-content {
    min-height: calc(100% - 100px - 60px);
    position: relative;
}

.footerContainer1, .footerContainer2 {
    position: absolute;
    left: 0;
    right: 0;
}
.footerContainer1 {
    bottom: 40px;
    background-color: #6BC1DC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    margin-top: 20px;
    height: 60px;
}

.footerContainer2 {
    bottom: 0;
    background-color: #116A86;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    height: 40px;
}

.NavList {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.NavItem {
    margin-right: 20px;
    color: black;
    cursor: pointer;

    &:last-child {
        margin-right: 0;
    }
}

.NavLink {
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: underline;
    }
}